<html>
    <style>
        body{ 
        font-size: 15pt;
        font-family: arial;
        text-align: center;
        }
    </style>


    <body>
        <h1>A Cool Place for Soccer Stats</h1>
        <p>For testing, we only provide partial information of 2019-2020 season</p>

        <img style="width:800px;height:400px;" src="https://www.sportco.io/images/post/1c_1580000592.jpeg">


        <p><a href={{url_for('league')}}>Check Leagues</a></p>
        <p><a href={{url_for('team')}}>Check Teams</a></p>
        <p><a href={{url_for('player')}}>Check Players</a></p>
        <p><a href={{url_for('coach')}}>Check Coaches</a></p>
        <p><a href={{url_for('match')}}>See Mathces with Status</a></p>
        <p><a href={{url_for('test')}}>Test</a></p>
    </body>


</html>